# Visual Studio generated #
# ----------------------- #
.vs/*

!*.csproj
!*.sln

*.VC.db
.consulo/
*.svd
*.pidb
*.suo
*.user
*.tmp

# -----------------------------------------

# Target Build Files #
# ------------------ #
/[Bb]uilds
/[Bb]uild

*.exe
# -----------------------------------------

# Other User Placed project related inter files #
# --------------------------------------------- #

/[Ff]eedback/
/[Dd]ev[Aa]ssets/
# -----------------------------------------


# MAC OS X generated #
# ------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
[Ii]con?
ehthumbs.db
[Tt]humbs.db
# -----------------------------------------


# Windows Genrated Files #
# ---------------------- #
# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
# -----------------------------------------


# Linux Genrated Files #
# ---------------------- #
.fuse_hidden*
.directory
.Trash-*
.nfs*
# -----------------------------------------


# -----------------------------------------------------------------------------------
# local settings file for Azure Function and Application Project
**/local.settings.js*
**/local.settings*.js*

# xUnit Test Project local setting file
**/appsettings.local*.js*
!**/appsettings.js*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og

# Visual Studio Code cache/options directory
**/.vscode/**
!**/.vscode/extensions.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/tasks.json

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Uncomment if you have tasks that create the project's static files in wwwroot
wwwroot/

# MSTest test Results
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*


# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
#*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# except build/, which is used as an MSBuild target.
**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets
